---
- name: install openssh-server
  become: yes
  ansible.builtin.apt:
    name: openssh-server

- name: update ssh settings (1/6)
  ansible.builtin.file:
    path: ~/.ssh
    state: directory
    mode: '700'

- name: update ssh settings (2/6)
  ansible.builtin.copy:
    src: authorized_keys
    dest: ~/.ssh/authorized_keys
    mode: '600'

- name: update ssh settings (3/6)
  become: yes
  ansible.builtin.replace:
    path: /etc/ssh/sshd_config
    regexp: "^#Port 22"
    replace: "Port {{ ssh_port }}"

- name: update ssh settings (4/6)
  become: yes
  ansible.builtin.replace:
    path: /etc/ssh/sshd_config
    regexp: "^#AuthorizedKeysFile"
    replace: "AuthorizedKeysFile"

- name: update ssh settings (5/6)
  become: yes
  ansible.builtin.replace:
    path: /etc/ssh/sshd_config
    regexp: "^#PasswordAuthentication yes"
    replace: "PasswordAuthentication no"

- name: update ssh settings (6/6)
  become: yes
  ansible.builtin.replace:
    path: /etc/ssh/sshd_config
    regexp: "PermitRootLogin prohibit-password"
    replace: "PermitRootLogin no"
